.home {
  align-items: center;
  justify-content: center;
  padding: 4rem 0px;
  width: 100%;
  gap: 1rem;
  position: relative;

  .slogan {
    .slogan-title {
      font-size: 4rem;
      font-weight: 800;
      .best {
        color: var(--text-secondary);
      }
    }
    .slogan-description {
      color: #5c5c5f;
      font-size: 1.1rem;
    }
    .appointment-btn {
      background-color: var(--bg-secondary);
      border: none;
      border-radius: 8px;
      padding: 1rem 2rem;
      color: var(--text-primary);
      font-size: 1.1rem;
    }
  }
  .doctor-img img {
    width: 100%;
  }
}

@media screen and (max-width: 55em) {
  .home {
    // flex-direction: column;
    padding: 2.6rem 1.1rem;
    .slogan-title {
      font-size: 2.5rem !important;
    }
    .slogan-description {
      font-size: 1rem !important;
    }
  }
}
@media screen and (max-width: 498px) {
  .home {
    justify-content: center;
    flex-direction: column;
  }
  .doctor-img img {
    height: 30vh;
  }
}
